@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

body {
    height: 100%;
    background: linear-gradient(whitesmoke, rgb(222, 245, 250)) fixed;
    background-repeat: no-repeat;
    background-size: cover;

    color: #333;
    font-family: 'Heebo', Verdana, Geneva, Tahoma, sans-serif;

    overflow-x: hidden;
}


.modal-content {
    background-color: whitesmoke;
    padding-bottom: 2rem;
}

hr {
    background-color: #333;
}
