<div class="container">
    <ng-container *ngIf="content; else loading">
        <div class="row">
            <div class="col text-center mb-4" *ngFor="let pic of content.pictures">
                <img [src]="pic.cropped_picture" class="picture" (click)="getImage(pic.id)" data-toggle="modal" data-target="#pictureModal">
            </div>
        </div>
    </ng-container>
</div>

<ng-template #loading>
    <div class="row mt-5">
        <div class="col text-center">
            <div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>   
        </div>
    </div>
</ng-template>

<div class="modal fade" id="pictureModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row mt-4">
                    <div class="col text-center">
                        <h5>
                            Hi modal
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr> 
                    </div>
                </div>
                <div class="row" *ngIf="selectedPicture; else loadingImage">
                    <div class="col">
                        <pinch-zoom>
                            <img [src]="selectedPicture.full_picture" /> 
                        </pinch-zoom>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingImage>
    <div class="row mt-4">
        <div class="col text-center">
            <div class="spinner-grow text-light text-center" role="status">
                <span class="sr-only">Loading...</span>
            </div>        
        </div>
    </div>
</ng-template>